/.Cuidador.java._trace
/.Informante.java._trace
/.Persona.java._trace
/.Villano.java._trace
/.VillanoApplicationModel.java._trace
/Cuidador.java
/Informante.java
/Persona.java
/Villano.java
/VillanoApplicationModel.java
